git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/peft.git
transformers-stream-generator
huggingface_hub
albumentations
opencv-python
sentencepiece
qwen-vl-utils
docling-core
safetensors
torchvision
requests
spaces
gradio
pillow
gradio
torch
av
